body {
  background: url(img/robot3.jpg);
}

.sect {
  font-weight: bold;
  color: rgb(130, 113, 227);
}

#about {
  background-color: white;
}

#sert {
  background-color: rgb(32, 32, 32);
  color: white;
}

#Project {
  color: rgb(130, 113, 227);
}

.card {
  background-color: rgb(46, 46, 46);
}

.card-text {
  color: rgb(130, 113, 227);
}

#contact {
  background-color: rgb(32, 32, 32);
  color: white;
}
